@import "@styles/fonts.scss";

// Colors -------------------------
// Define
$black: #000814;
$white: #eee;

$palette-1: #ffc300;
$palette-2: #f77f00;
$palette-3: #d62828;
$palette-4: #81b29a;
$palette-5: #003566;

$palette: (
  1: #ffc300,
  2: #f77f00,
  3: #d62828,
  4: #81b29a,
  5: #003566,
);

.color-bar {
  display: flex;
  padding: 0rem 0rem 0.5rem;
  .display-colors {
    width: calc(100vw / length($palette));
    height: 0.1rem;
  }
  @each $key, $value in $palette {
    .color-#{$key} {
      background: $value;
    }
  }
}

// Use
$link: $palette-4;
$link-hover: $palette-2;
$link-active: $palette-2;
$link-visited: $palette-4;
$primary: $palette-4;
$secondary: $palette-5;

$background-dark: $black;
$background-light: $white;

$text-light: $white;
$text-dark: $black;
// --------------------------------

// Transitions --------------------
$transition-slow: 360ms;
$transition-medium: 240ms;
$transition-fast: 120ms;
// --------------------------------

// Layout -------------------------
$header-height: 2rem;
// --------------------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  // border: 1px solid red;
}

img {
  object-fit: cover;
}
body {
  background: $background-dark;
  color: $text-light;
  padding: $header-height 5vw;
  font-family: consolas;
  position: relative;
}

ul,
ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
  text-align: center;
  color: $link;
  transition: color $transition-medium;

  &:hover {
    color: $link-hover;
  }
  &:active {
    color: $link-active;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.5rem 2rem;
  background: transparent;
  height: $header-height;
}

section {
}

main {
}

article {
}

aside {
}

footer {
  width: 100%;
  padding: 0.25rem 2rem;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.image {
  width: clamp(280px, 100%, 100vw);
  max-height: 50vh;
}

.blog-post-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0rem;
}

.blog-post-preview {
  border-radius: 12px;
}

.horizontal-lines {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.vertical-lines {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.horizontal-line {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 1px;
  background: #ffffff50;
  margin: 2rem 0rem;
}

.vertical-line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100vh;
  background: #ffffff50;
  margin: 2rem 0rem;
}
