html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  line-height: 1.5;
}

footer {
  position: absolute;
  bottom: 0;
  background: #4422ff;
  color: #eee;
  width: 100vw;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: white;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
