---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
  <nav>
  <a href="/">Home</a>
  <a href="/about"></a>
  <a href="/blog"></a>
  </nav>
		<h1>Astro Tutorial</h1>
		<h2>about.html</h2>
    <p>
    What a tutorial. Some words here.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque accusantium laboriosam, soluta suscipit omnis nulla tempora. Incidunt necessitatibus eligendi porro culpa iure mollitia, reiciendis vero numquam recusandae accusamus nulla quas?</p>
	</body>
</html>
