---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="FrankieWeb">
  <h2>Who am I?</h2>
  <img class="image" src="/images/skull.jpg" alt="skull here" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias quae
    inventore enim vero aliquid soluta officia libero. Ducimus labore, rerum
    dignissimos dolorem deserunt cupiditate suscipit laudantium ea, sed
    voluptatem in ratione, exercitationem velit iste tempora. Animi consectetur
    ex earum fugiat nemo esse dolor natus sint ea distinctio quos et corporis,
    qui explicabo officiis cumque! Blanditiis facere impedit vero voluptates
    quidem quia vitae expedita autem. Rem laboriosam neque mollitia, doloremque
    ipsa animi autem dolorem consectetur amet sed eos veniam, architecto itaque
    possimus at labore iure ipsum? Eveniet repellendus blanditiis doloribus aut
    ipsa incidunt aliquid quisquam accusamus voluptatibus? Explicabo quibusdam,
    at maxime sequi officiis deserunt perspiciatis asperiores reprehenderit
    saepe numquam neque sapiente molestias aperiam illum similique id
    voluptatibus alias aliquam. Ratione ipsa voluptate accusamus non autem
    distinctio labore? Ex libero, officia voluptatem necessitatibus eligendi
    fugiat quam, harum modi porro saepe nam a cumque earum iure ipsa architecto?
    Fugiat ipsam obcaecati, eligendi voluptates sequi optio culpa. Amet ipsa
    minima dignissimos! Dolorum eveniet earum, velit vero praesentium commodi ab
    nesciunt id? Repellat perferendis voluptatum rem nihil, quidem molestiae
    consectetur, repudiandae mollitia, iure explicabo similique eveniet odio
    dicta voluptates blanditiis cumque rerum et! Similique pariatur rerum sint,
    iusto reiciendis at maiores? Magni culpa ducimus quae nam corporis ea,
    aliquam ipsa, corrupti possimus aspernatur non sequi? Modi architecto
    sapiente, dolor commodi porro nemo non iste, excepturi vitae quidem
    inventore pariatur omnis! Non consequuntur provident asperiores error totam
    iure dolores quas accusamus atque laboriosam ad quibusdam debitis nostrum in
    nisi perspiciatis ullam odit, quam iusto ducimus ex maiores harum ipsum. Ab,
    mollitia delectus? Harum nesciunt quos repellat laborum dicta, provident
    exercitationem neque. Sit cum voluptas eum inventore deserunt animi nemo
    itaque aliquid, vitae rerum quas ex architecto dolorem neque odit
    necessitatibus alias natus, quisquam cupiditate voluptates eligendi magnam
    nostrum. Voluptatum doloremque hic, ex maxime accusantium pariatur amet?
  </p>
</BaseLayout>
